= link_to read_messages_path(message),class: "message-link" do
  %div.row-fluid
    %div.span3
      = image_tag message.sender.profile.image
    %div.span9
      %div
        %b= message.sender.name
      %small= truncate message.body,length: 36
