%div.row-fluid#messages_index
  = render "rooms/left_side_bar", top_users: @top_users
  %div.span8
    %div#message
      %table.table
        %thead
          %tr
            %td 
              %h3 Messages
            %td 
              %a.btn.btn-primary.btn-large#create_message_btn{'data-toggle' => 'modal', 'href'=>'#new_message'} 
                New Message
        %tbody#messages_body
          = render "message_list"

      %div.modal.hide#new_message
        %div.modal-header
          %button.close{"type" => "button", "data-dismiss" => "modal"}x
          %h3 New Message
        %div.modal-body
          = render "form" 
