%div#message
  %table.table
    %tbody#messages_body
      -@received_messages.each do |msg|
        %tr
          %td
            =image_tag(User.find(msg.sender_id).profile.image)
            =msg.title
            =msg.sender_id

  %a.btn.btn-primary.btn-large#create_message_btn{'data-toggle' => 'modal', 'href'=>'#new_message'} 
    New Message
  %div.modal.hide#new_message
    %div.modal-header
      %button.close{"type" => "button", "data-dismiss" => "modal"}x
      %h3 New Message
    %div.modal-body
      =render "new"
