%div.row-fluid#messages_index
  = render "rooms/left_side_bar"
  
  %div.span8
    %h2= @message.receiver.name
    %hr
    %div.conversation_messages.pre-scrollable
      - @messages.each do |message|
        = render partial: partial_view_for_message(message),locals: {message: message} 

    = render "reply"
