%table.table.table-personalinfo
  %thead
    %tr
      %td.about-title
        %i.icon-user
        %strong Personal Information
      %td
        - if current_user==@user
          %a.btn.btn-primary.edit-btn
            %i.icon-edit 
            Edit
  %tbody
    %tr
      %td.about-subtitle 
        %strong Name
      %td.about-text
        %p= @viewed_user.name 
    %tr
      %td.about-subtitle 
        %strong Email 
      - message = 'Update Your Email'
      - if @viewed_user.email 
        - message = @viewed_user.email 
      %td.about-text
        %p= message
    %tr
      %td.about-subtitle 
        %strong Birthday
      - message = 'Update Your Birthday'
      - if @viewed_user.profile.date_of_birth
        - message = @viewed_user.profile.date_of_birth  
      %td.about-text
        %p= message
    %tr
      %td.about-subtitle
        %strong School
      - message = 'Update Your School'
      - if @viewed_user.profile.school 
        - message = @viewed_user.profile.school 
      %td.about-text
        %p= message

