%table.table.table-personalinfo
  %thead
    %tr
      %td.about-title
        %i.icon-user
        %strong Personal Information
      %td
      %td

  %tbody
    %tr
      %td.about-subtitle 
        %strong Name
      %td.about-text
        %p= @viewed_user.name 
      %td
        - if current_user == @user
          %a{:rel => 'tooltip', 'data-original-title'=>'Edit'} 
            %i.icon-edit 
    %tr
      %td.about-subtitle 
        %strong Email 
      - message = 'Update Your Email'
      - if @viewed_user.email 
        - message = @viewed_user.email 
      %td.about-text
        %p= message
      %td
        - if current_user == @user
          %a{:rel => 'tooltip', 'data-original-title'=>'Edit'} 
            %i.icon-edit 
    %tr
    %tr
      %td.about-subtitle 
        %strong Birthday
      - message = 'Update Your Birthday'
      - if @viewed_user.profile.date_of_birth
        - message = @viewed_user.profile.date_of_birth  
      %td.about-text
        %p= message
      %td
        - if current_user == @user
          %a{:rel => 'tooltip', 'data-original-title'=>'Edit'} 
            %i.icon-edit      
    %tr
    %tr
      %td.about-subtitle
        %strong School
      - message = 'Update Your School'
      - if @viewed_user.profile.school 
        - message = @viewed_user.profile.school 
      %td.about-text
        %p= message
      %td
        - if current_user == @user
          %a{:rel => 'tooltip', 'data-original-title'=>'Edit'} 
            %i.icon-edit        
