%div.wall-container
  %div.row-fluid.wallpost-container
    %div.span2
      %div.thumbnail.thumbnail-wall-image
        = image_tag(current_user.profile.image, :class => 'wall-image')
    %div.span10.wallpost-content-container
      %div.arrow-container
        %div.arrow
      %div.accordion-heading.wallpost#accordion-wall
        %div.accordion-toggle.wallpost-content{'data-toggle' => 'collapse', 'data-parent'=>'#accordion-wall', 'href'=>'#collapseWall' }
          %h4= current_user.name
          %hr
          %textarea{:rows => 3}
        %div.accordion-body.collapse#collapseWall
          %div.accordion-inner
            %div.btn.btn-success.btn-small#post-btn
              Share
  %div.all-wallposts
    - @wallposts.each do |w|
      =render 'each_wallpost', w: w

