%table.table.table-work
  %thead
    %tr
      %td.about-title
        %i.icon-briefcase
        %strong Work and Education
      %td 
      %td
      %td

  %tbody
    %tr
      %td.about-subtitle 
        %strong Employers
      %td.about-picture
        %img{:src => 'https://fbcdn-profile-a.akamaihd.net/static-ak/rsrc.php/v2/yS/r/SakaC0tDjfm.png'}
      %td.about-content
        %strong Add your employers here 
      %td
        - if current_user == @user
          %a{:rel => 'tooltip', 'data-original-title'=>'Edit'} 
            %i.icon-edit      
    %tr
      %td.about-subtitle 
        %strong Schools
      %td.about-picture
        %img{:src => 'https://fbcdn-profile-a.akamaihd.net/static-ak/rsrc.php/v2/yS/r/SakaC0tDjfm.png'}
      %td.about-content
        %strong Add your School here 
      %td
        - if current_user == @user
          %a{:rel => 'tooltip', 'data-original-title'=>'Edit'} 
            %i.icon-edit  
