%div.row-fluid
  %div.span3
    %a.thumbnail#profile-image
      %img{:src => 'http://placehold.it/260x180'}
    %div.tabbable.tabs-left
      %ul.nav.nav-tabs#profile-info
        %div.line-small
        %li
          %a{"href" => "#about", "data-toggle" => "tab"}About 
        %li.active
          %a{"href" => "#profile", "data-toggle" => "tab"} Recent Activities 
        %li
          %a{"href" => "#statistics", "data-toggle" => "tab"} Statistics
        %li
          %a{"href" => "#badges", "data-toggle" => "tab"} Badges
        %div.line-big
  %div.span8#profile-content
    %div.status-container
      %div.arrow-container
        %div.arrow
      %div.status
        %div.status-content
          %textarea{:rows => 2}
          %div.btn.btn-success.btn-small#post-btn
            Share

    %div.tab-content#profile-details
      %div.tab-pane#about
        =render 'work'
      %div.tab-pane.active#activities
      %div.tab-pane#statistics
      %div.tab-pane#badges
        = link_to "All Badges",badges_path,class: "btn btn-primary"
        %br
        = render "badges/badge_list"
  %div.span1
