%button.row-fluid.btn.each_choice{id: choice.id.to_s,class: defined?(choice_class) ? choice_class : ""}
  %div.span2.choice_letter= choice.choice_letter
  %div.span8.choice_content= choice.content.parse_latex.html_safe
