%hr
%div
  %div.row-fluid.wallpost-container
    %div.span2
      %div.thumbnail.thumbnail-wall-image
        %img.wall-image{alt: "Picture?type=square", src: wallpost.sender.profile.image}

    %div.span10.wallpost-content-container.triangle-border.left
      %div
        %div.row-fluid
          %div.span9
            %h4= wallpost.sender.name

          %div.span3
            %p.time-ago= time_ago_in_words(wallpost.created_at) + " ago"

          %p= wallpost.content
