=form_for(@question_types) do |f|
  =f.label :type_name
  =f.text_field :type name

  =f.label :need_paragraph
  =f.check_box :need_paragraph

 =f.label :category_type_id
 =f.select("category_type_id", CategoryTypes.all.collect{|c| [c.category_name, c.id]}, {:include_blank =>false})

 
