%div.span4
  %div#recent_activities
    %h3 Recent Activities
    %div.pre-scrollable
      %ul.nav.nav-tabs.nav-stacked#activities_list
  
  %div#ranking
    %h3 Ranking
    %div
      %table.table
        %thead
          %tr
            %th Name
            %th Exp
        %tbody
          - top_users.each do |u|
            %tr
              %td= u.name
              %td= u.exp
