%h4 Explanation

%div.row-fluid{class: @style}
  %p= @message

- @question.choices.each do |choice|
  - result = choice.correct ? "btn-success" : ""
  %div.row-fluid.btn.each_choice.disabled{id: choice.id.to_s, class: result}
    %div.span1
      - if (choice.correct)
        %i.icon-white.icon-ok
    %div.span2= choice.choice_letter
    %div.span6= choice.content
