%h4 Explanation

%div.row-fluid{class: @style}
  %p= @message

- @choices.each do |choice|
  %div.row-fluid.btn.each_choice.disabled{id: choice[:data].id.to_s, class: choice[:result]}
    %div.span2= choice[:data].choice_letter
    %div.span8= choice[:data].content
:javascript
  $(".correct").addClass("btn-success")
               .append("<div class='span2'><i class='icon-ok icon-white' /></div>")
  $(".selected").addClass("btn-danger")
                .append("<div class='span2'>Your choice</div>")
