%div.row-fluid#rooms_index
  %div.span3
  %div.span6
    %div.accordion.text-center#room_list
    %br
    %a.btn.btn-primary{"data-toggle"=>"modal", "href"=>"#new_room"}New room
    %div.modal.hide#new_room
      %div.modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal"}x
        %h3 Create new room
      %div.modal-body
        =render "new"
  %div.span3
    %div#friend_list
      %h3 Friends
      = render "friend_list", friends: @friends
