
%div.row-fluid#rooms_index
  = render "left_side_bar"
  %div.span5
    %div.accordion#room_list
    %br
    %div.modal.hide#new_room
      %div.modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal"}x
        %h3 Create new room
      %div.modal-body
        =render "new"
    %div.modal.hide#invitation
      %div.modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal"}x
        %h3 You're invited!
      %div.modal-body
        %p
      %div.modal-footer
        %a.btn{"data-dismiss"=>"modal"}Reject
        %a.btn.btn-primary#accept Accept

  = render "right_side_bar", top_users: @top_users

