%script
  :plain
    $(document).ready(function(){
      $(".chat_send").click(function(){
        message=$(".chat_message").val();
        $.ajax({
          type: "POST",
          url: "/rooms/chat_message",
          data: {
            message: message
          }
        });

        $(".chat_message").val("");
      });
    });

%div.row-fluid#room_settings
  %div.span9
  %div.span1
    %div#timer.pull-right{display: "inline"}
  %div.span2
    %div#room_mode.btn.btn-info= @room.room_mode.title
%div.row-fluid#divider
  %div.span9
  %div.span3
%div.row-fluid#rooms_join
  %div.span9
    %div.row-fluid
      %div.span5#paragraph.prettyprint.pre-scrollable.linenums
      %div.span5#question_container{room_id: @room.id, question_id: @room.question_id}
        %div.modal#observing{reload: @reload, style: "display:none"}
          %div.modal-header
            %h3 Waiting...
          %div.modal-body
            %p Please wait for the next round to begin
        %div.prompt_container#current_question.question_active
          %h4 Question
          %div.row-fluid
            %div.span2
            %div.span10
              %p.lead#prompt
          %div.row-fluid.choices_container
            %h4 Choices
            %div.row-fluid
              %div.span2
              %div.span8
                %div#choices
          %div.pull-right
            %a.btn.btn-primary#confirm{style: "display:none"} Confirm
            %a.btn.btn-primary#ready{style: "display:none"} Ready
  %div.span3
    %div#top_nav
    %div#bottom_nav
      %ul.nav.nav-tabs
        %li
          %a{"href" => "#chat", "data-toggle" => "tab"}Chat
        %li.active
          %a{"href" => "#history", "data-toggle" => "tab"}History
      %div.tab-content
        %div.tab-pane#chat
          %div.chat-content
          
          = label_tag :message
          = text_area_tag :message,"",{class: "chat_message"}
          
          = submit_tag "Send",class: "btn btn-primary chat_send"
        %div.tab-pane#history.active.pre-scrollable
