%script
  :plain
    $(document).ready(function(){
      $(".chat_send").click(function(){
        message=$(".chat_message").val();
        $.ajax({
          type: "POST",
          url: "/rooms/chat_message",
          data: {
            message: message
          }
        });

        $(".chat_message").val("");
      });
    });

%div.row-fluid#rooms_join
  %div.span9#question_container{room_id: @room.id, question_id: @room.question.id}
    %p{reload: @reload} Waiting for next round...
  %div.span3
    %div#timer
    %div#top_nav
    %div#bottom_nav
      %ul.nav.nav-tabs
        %li
          %a{"href" => "#chat", "data-toggle" => "tab"}Chat
        %li.active
          %a{"href" => "#history", "data-toggle" => "tab"}History
      %div.tab-content
        %div.tab-pane#chat
          %div.chat-content
          
          = label_tag :message
          = text_area_tag :message,"",{class: "chat_message"}
          
          = submit_tag "Send",class: "btn btn-primary chat_send"
        %div.tab-pane#history.active
