/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.center-div {text-align:center;}
.online {
  text-decoration: underline;
}
.mycontainer {
  margin-top: 20px;
  min-height: 600px;
}
.navbar i{
  font-size: 25px;
}
.navbar-inner .nav-collapse {
  padding-top: 10px;
}
.mydropdown-nav{
  width: 350px;
  padding-bottom: 10px;
}

.mydropdown-nav h4{
  color: #222;

}

.mydropdown-nav small{
  font-size: 12px;
}

.navbar .mybrand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 25px;
  font-weight: 200;
  line-height: 1;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.navbar a.mybrand:hover {
  text-decoration: none;
}
.my-text-area {
  width: 800px;
}

img.profile-pic {
  width:50px;
}

.footer{
  border-top: 1px solid #333;
  background-color: #333;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #333, #222);

}

.footer .footer-container{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
}



