/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.center-div {text-align:center;}
.online {
  text-decoration: underline;
}
.mycontainer {
  margin-top: 20px;
}
.navbar i{
  font-size: 25px;
}
.navbar-inner .span4 {
  padding: 5px;
}
.mydropdown-nav{
  width: 350px;
  padding-bottom: 10px;
}

.mydropdown-nav h4{
  color: #222;

}

.mydropdown-nav small{
  font-size: 12px;
}

.user_component{
}
