ul.ui-autocomplete {
  list-style: none;
  border: solid 1px #999;
  width: 300px;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.search-friend {
  width: 303px;
}

.autocomplete-focus {
  background-color: blue;
}
