// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homepage {
  padding-top:45px;
}
.myhero{
  background: url("/assets/images/homepage/bg3.jpg") repeat-x  #F3F1F8;
  background-color: #EEE;
  border-bottom: grey;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  padding: 50px;
  margin-bottom: 30px;
}

.myhero p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
.navbar-big{
  font-size: 15px;
}
#home-slide {
  padding: 20px;
  box-shadow: 0 0 20px #999;
  background: white;
}
#home-slide p {
  margin-top: 5px;
  color: white;
  font-size:14px;
}

#home-description {
  margin-left: 30px;
}
#home-description .btn {
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 11px 35px 13px;
}
#home-signin {
  padding-left: 40px;
  height: 406px;
}
#new_to_studium {
  color: #333;
}

.intro{
  background: url("/assets/images/homepage/bg_trans_1.png") repeat  #F3F1F8;
}

.intro p {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.intro h1 {
  letter-spacing: -1px;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#home-quote{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#home-quote blockquote {
  margin-left: 30px;
}
.navbar .mybrand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 25px;
  font-weight: 200;
  line-height: 1;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.navbar a.mybrand:hover {
  text-decoration: none;
}
