// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
#profile strong {
  float: right;
  font-size: 13px;
}
#profile small {
  color: #999;
  font-size:13px;
}
#room_list small {
  color: #999;
}
#room_list p {
  padding: 15px;
  color: #999;
}

.user-stats p{
  color: #666;
  font-size: 11px;
}
.user-stats {
  margin-top: 5px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 0px;
  border-bottom: 1px solid #E5E5E5;
}
.accordion {
  margin-bottom: 18px;
  border: 1px solid #E5E5E5;
  border-bottom: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}
.myhead {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #E5E5E5;
}
.myhead a.btn {
  float:right;
  margin-right: 7px;
}

.accordion-body.collapse .dl-horizontal{
  padding-bottom: 2px;

}
.accordion-body.collapse .btn {
  //margin-top:15px;
  //margin-right: 27px;
  //float:right;
}

.separator{
  height: 30px;

}
#rooms_review .question {
  margin: 20px;
  padding: 20px 40px 20px 20px;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#rooms_review .paragraph .paragraph-content {
  position: fixed;
  top: 100px;
  left: 50px;
  width: 400px;
}

.control .btn{
  margin-top: 15px;

}

#paragraph {
  font-size: 14;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#timer{
  font-size: 15px;
}

.lead{
  font-size: 17px;
}

.room_settings{
  margin-bottom:15px;
}

#question_container{
  padding-right: 10px
}
#choices .alert {
  padding: 8px 8px 8px 14px;
}
.profile_image img {
  width: 50px;
  height: 50px;
}

.selected_users img {
  width: 20px;
  margin: 5px;
}

.bordered-container {
  margin-bottom: 18px;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#recent_activities .pre-scrollable {
  height: 78px;
}
