// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
#profile strong {
  float: right;
  font-size: 13px;
}
#profile small {
  color: #999;
  font-size:13px;
}
.accordion#room_list{
}

.accordion#room_list .room-list-body{
  min-height: 277px;
  border-bottom: 1px solid #DDD;
}

#room_list small {
  color: #999;
}
#room_list p {
  padding: 15px;
  color: #999;
}

.user-stats p{
  color: #666;
  font-size: 11px;
}
.user-stats {
  margin-top: 5px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 0px;
  border-bottom: 1px solid #E5E5E5;
}
.accordion {
  margin-bottom: 18px;
  border: 1px solid #E5E5E5;
  border-bottom: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}
.myhead {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #E5E5E5;
}
.myhead .btn {
  float:right;
  margin-right: 7px;
}

.online-users-head {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #E5E5E5;
}

.online-users-body{
  overflow-x: scroll;
  overflow-y: hidden;
}

.online-users-container{
  width: 150%;
}

.friends-head {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.profile-pic-small{
  width:30px;
}

.accordion-body.collapse .dl-horizontal{
  padding-bottom: 2px;

}
.accordion-body.collapse .btn {
  //margin-top:15px;
  //margin-right: 27px;
  //float:right;
}

.separator{
  height: 30px;

}
#rooms_review .question {
  margin: 20px;
  padding: 20px 40px 20px 20px;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#rooms_review .paragraph .paragraph-content {
  position: fixed;
  top: 100px;
  left: 50px;
  width: 400px;
}

.control .btn{
  margin-top: 15px;

}

#paragraph {
  font-size: 14;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#timer{
  font-size: 15px;
}

.lead{
  font-size: 17px;
}

.thumbnail-profile-pic{
  width: 50px;

}

.room_settings{
  margin-bottom:15px;
}

#question_container{
  padding-right: 10px
}
#choices .alert {
  padding: 8px 8px 8px 14px;
}

.selected_users img {
  width: 20px;
  margin: 5px;
}

.bordered-container {
  margin-bottom: 18px;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#recent_activities .pre-scrollable {
  height: 477px;
  max-height: 477px;
}

.like-button {
  width: 49px;
  height: 24px;
  display: inline-block;
}

.chat-content {
  max-height: 200px;
}

#recent_activities #activities_list .activity{
  border-bottom: 1px solid #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px;
}

#recent_activities #activities_list .profile-pic{
  margin-left: 5px;
  display: inline; 
}

#recent_activities #activities_list .activity-messages{
  color: #666;
}

