// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subject-button{
  float: right;

}

.perform-stats .dropdown-menu{
  left: auto; 
  right: 0;
}

.stats-subtitle strong{
  color: #999;
  font-size: 13px;
}

.stats-title strong{
  color: #333;
  font-size: 14px;
}

.progress-bar-container{
  width: 550px;
}

.progress-bar-container .progress{
  width: 500px;
}
.stats-text strong{
  color: #222;
  font-size: 12px;
}

.stats-text i{
  font-size: 9px;
}
.stats-text i.icon-ok{
  color: #468847
}

.stats-text i.icon-remove{
  color: red
}
