// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subject-button{
  float: right;
}

.progress{
  width: 500px;
}

.progress-bar-container{
  width: 650px;
}

.perform-stats{
  padding-top: 30px;
}

#container{
  padding-left: 50px;
  padding-right: 50px;
}

#description-progress{
  padding-bottom: 50px;
  color: #333;

}

#description-column{
  padding-top: 50px;
}
