#user-info-modal{
  position: fixed;
  right: 20px;
  width: 460px;
  overflow: auto;
  z-index: 999;
  background-color: white;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px;
  box-shadow: 0 3px 7px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.badge-modal{
  width: 10px;
  height: 10px;
}

.badges-progress{
}

.badge-line{
}
