%div#graph
%div.btn-group
  %div.btn{"data-toggle" => "dropdown"} 
    All Subjects
    %span.caret
  %ul.dropdown-menu
    %li
      %a#math Math
    %li
      %a#CR Critical Reading
    %li
      %a#writing Writing



