%div.well
  %h2#stats-title Your Personal Statistics
%div.btn-group#subject-button
  %div.btn.btn-large.btn-primar.btn-large.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"} 
    All Subjects
    %span.caret
  %ul.dropdown-menu
    %li
      %a#math Math
    %li
      %a#CR Critical Reading
    %li
      %a#writing Writing


%div#graph


